.control-input .zibal_title {
    margin: 10px 0 5px 0;
    font-weight: bold;
    padding: 15px;
    float: none;
    clear: both;
    background-color: #FFFFFF !important;
    background: url(images/logo.png) no-repeat;
    height: 40px;
    padding-left: 100px !important;
}




